@{ 

}

<form asp-action="Search" asp-controller="Order" method="get" class="search">
    <input type="search" name="orderId" placeholder="Поиск заказа..."/>
    <button type="submit">
        <img src="~/img/search.svg" alt="Найти" />
    </button>
</form>