@{ 
    ViewData["Title"] = "О компании";
}

<div class="text-center">
    <h1 class="display-4 text-light">О нас</h1>
</div>

<div class="text-light text-center d-flex flex-column">
    <br />
    <div class="align-items-center">
        <img src="~/img/about.png" alt="Фотография предприятия" />
    </div>
    <br />
    <p>
        Кафе <strong class="font-weight-bold">2Bro`s</strong> является начинающим движением в области общественного питания. <br />
        Наше кафе имеет в наличии замечательного шеф-повара с огромным опытом работы в ресторанных заведениях. <br />
        Весь проецесс приготовления происходит в открытую и вы имеете возможность наблюдать за работой шефа. <br />
        Мы рады предоставлять своим клиентам качественный сервис и готовим только из свежих, и качественных продуктов.
    </p>
</div>