@{
    ViewData["Title"] = "Доставка";
}

<div class="text-center">
    <h1 class="display-4 text-light">Доставка</h1>
</div>

<div class="text-light">
    <strong class="font-weight-bold">Доставка по районам:</strong>
    <p>Тракторозаводский*, Краснооктябрьский, Дзержинский*, Ворошиловский*, Центральный*, Городище*, Советский*, Кировский*, г.Волжский*</p>
    <br />
    <strong class="font-weight-bold">
        Стоимость доставки при заказе:
    </strong>
    <p>
        от 100р. до 499р. — 100р. <br />
        от 500р. — <strong class="font-weight-bold">БЕСПЛАТНО*</strong>
    </p>
    <br />
    <p>Доставка и заказ оплачивается курьеру по прибытию в виде начичного расчета без сдачи.</p>
    <br />
    <strong class="font-weight-bold">
        Время работы службы доставки еды «2Bro`s»:
    </strong>
    <p>
        пн-чт 9:00-21:00 (заказы принимаем до 20:30, а доставляем до 21:30) <br />
        пт 9:00-22:00 (заказы принимаем до 21:30, а доставляем до 22:30) <br />
        сб 10:00-23:00 (заказы принимаем до 22:30, а доставляем до 23:30) <br />
        вс 10:00-23:00 (заказы принимаем до 22:30, а доставляем до 23:30)
    </p>
</div>