@model FoodListViewModel

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4 text-light">Меню</h1>
</div>

<div class="d-flex flex-column align-items-center">
    @if (Model.FoodList.Count() != 0)
    {
        @foreach (var food in Model.FoodList)
        {
            <partial name="_FoodCardPartial" model="food" />
        }
    }
    else
    {
        <span class="menu-empty">Товары выбранной категории не найдены</span>
    }
</div>
