@model IEnumerable<FoodTypeLookupModel>

@{
    ViewData["Title"] = "Категории меню";
}

<div class="text-center mb-3">
    <h1 class="display-4 text-light">Категории меню</h1>
</div>

<div class="col-12 col-sm-10 col-md-8 ml-auto mr-auto" >
    <button id="order-state-create" class="btn btn-secondary d-flex mb-3 ml-auto" onclick="createFoodType()">Создать категорию</button>

    <table id="order-state-table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Категория</th>
                <th scope="col">Операции</th>
            </tr>
        </thead>
        @foreach (var foodType in Model)
        {
            <tr id="order-state-row-@foodType.Id">
                <td scope="row" id="order-state-primary-@foodType.Id">@foodType.Id</td>
                <td id="order-state-@foodType.Id">@foodType.Type</td>
                <td id="order-state-control-@foodType.Id">
                    <button id="update-button-@foodType.Id" class="btn btn-warning mr-2" onclick="updateFoodType(@foodType.Id)">Редактировать</button>
                    <button id="delete-button-@foodType.Id" class="btn btn-danger" onclick="deleteFoodType(@foodType.Id)">Удалить</button>
                </td>
            </tr>
        }
    </table>
</div>
